@import "_utilities";
@import "_config";
@import "_btnConfig";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;

}

script{
  display: none;
}

header{
  background-color: $primary-color;
}
.hero {
  // This is where the bulk of the SCSS styling needs to be done
  display: center;
  .nav{
    width: 140%;
    display: flex;
    flex-direction: row;
    margin-bottom: 13px;
    background-color: $primary-color;
  }
  .banner{
    width: 48%;
    color: white;
  }

  a{
    color: white;
  }
  ul{
    width: 50%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }

  li{
    width: auto;
    margin-left: 15px;
    color: white;
    text-decoration: none;
    margin-top: 1.5%;

  }

  .hero-content{
    padding-top: 5px;
  }

  .home-text{
    width: 40%;
    flex-direction: row;
    align-content: flex-start;
    padding-top: 15%;
    color: white;

    h1{
      font-family: $font-stack;
      color: white;
      height: 11%;

      margin-top: 19px;
    }
  }
  img{
    width: 60%;
  }

  .btn-primary{
    width: 45%;
    display: center;
    max-height: 30px;
  }
  .btn-secondary{
    width: 38%;
    display: center;
    max-height: 30px;
  }
  // Take a look at the other files we've built already. How can they be useful here?

  // Also, take time to review the features of SCSS we've already covered:
  // 1. $variables
  // 2. nesting (dont forget about the ampersand (&) parent selector!)
  // 3. At-Rules
}

// This code is related to some of the aspects of SCSS we have yet to cover.
// While you don't have to mess with it, it would be advisable to attempt to understand its functionality.
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
